doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Guess Mind
    body 
        h1 Hello
        script(src="/socket.io/socket.io.js")
        script(src="/index.js") 